<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="template.xhtml">
    <ui:define name="title">Planets</ui:define>
    <ui:define name="content">

        <h:dataTable value="#{stellarBean.planets}" var="p">
            <h:column>
                <f:facet name="header">ID</f:facet>
                #{p.id}
            </h:column>
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{p.name}
            </h:column>
        </h:dataTable>

    </ui:define>
</ui:composition>

</html>
