<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:composition template="template.xhtml">

    <ui:param name="displaySearch" value="true"></ui:param>
    <ui:define name="title">Prlanetary Systems</ui:define>
    <ui:define name="content">

     <h:dataTable var="s" value="#{stellarBean.planetarySystems}">
        <h:column>
            <f:facet name="header">#{msg["system.name"]}</f:facet>
            <h:link value="#{s.name}" outcome="planets">
                <f:param name="systemId" value="#{s.id}"/>
            </h:link>
        </h:column>
        <h:column>
             <f:facet name="header">#{msg["system.star"]}</f:facet>
             #{s.star}
        </h:column>
         <h:column>
             <f:facet name="header">#{msg["system.distance"]}</f:facet>
             #{s.distance}
         </h:column>
         <h:column>
             <f:facet name="header">#{msg["system.discovery"]}</f:facet>
             #{s.discovery}
         </h:column>
     </h:dataTable>
    </ui:define>

</ui:composition>

</html>
